### Part 1

- encrypted strategy guide 
- "The first column is what your opponent is going to play: 
  - A for Rock, 
  - B for Paper, and 
  - C for Scissors."
- 2nd col is (unknown) "encrypted": X, Y, Z
- GUESS: 
  - X for Rock, 
  - Y for Paper, and 
  - Z for Scissors.
- The winner of the whole tournament is the player with the highest score.
- Your total score is the sum of your scores for each round.
- The score for a single round is the score for the shape you selected:
  - 1 for Rock, 
  - 2 for Paper, 
  - and 3 for Scissors
- plus the score for the outcome of the round:
  - 0 if you lost, 
  - 3 if the round was a draw, 
  - and 6 if you won
- Since you can't be sure if the Elf is trying to help you or trick you, you should calculate the score you would get if you were to follow the strategy guide.

### KEYS:

1st col (opponent):
- A = Rock
- B = Paper
- C = Scissors

2nd col (me):
- X = Rock
- Y = Paper
- Z = Scissors

Score for my selection
- Rock = 1
- Paper = 2
- Scissors = 3

Score for outcome
- 0 = lose
- 3 = draw
- 6 = win

### PLAN

0) Convert to Pandas DF
1) Convert ABC into rock/paper/scissors
2) Convert XYZ into rock/paper/scissors
3) Calc outcome col
4) Create selection col
5) Score = outcome + selection

In [1]:
# Import sample
# Replace later with actual input
file_path = "sample.txt"
#file_path = "input.txt"

# Operation mode
read = 'r'

# Open file in read only mode
with open(file_path, read) as file:
    file_contents = file.read()

# CHECK - file contents
print(file_contents)

A Y
B X
C Z

In [2]:
# Imports
import pandas as pd

In [3]:
# Read file thru Pandas to create a DataFrame instead of the usual Python way
# NOTE: it can't auto parse header or the space separator here, must define
df = pd.read_csv(file_path,
                 header = None,
                 sep = ' ')
df

   0  1
0  A  Y
1  B  X
2  C  Z

In [4]:
# Rename columns to make reading this easier
df = df.rename(columns = {0: 'opponent', 
                          1: 'me'} )

KEY:

1st col (opponent):
- A = Rock
- B = Paper
- C = Scissors

In [5]:
# Define conditionals to find and replace in 1st col of Pandas DF
df.loc[df['opponent'] == 'A', 'opponent'] = 'rock'
df.loc[df['opponent'] == 'B', 'opponent'] = 'paper'
df.loc[df['opponent'] == 'C', 'opponent'] = 'scissors'
print(df)

   opponent me
0      rock  Y
1     paper  X
2  scissors  Z

KEY:

2nd col (me):
- X = Rock
- Y = Paper
- Z = Scissors

In [6]:
# Define conditionals to find and replace in 2nd col of Pandas DF
df.loc[df['me'] == 'X', 'me'] = 'rock'
df.loc[df['me'] == 'Y', 'me'] = 'paper'
df.loc[df['me'] == 'Z', 'me'] = 'scissors'
print(df)

   opponent        me
0      rock     paper
1     paper      rock
2  scissors  scissors

KEY

Score for outcome
- 0 = lost
- 3 = draw
- 6 = win

In [7]:
# TEST
for row in df['opponent']:
    print(row)
    #print(df['opponent'][row])

rock
paper
scissors

In [8]:
# TEST
print('whole row = ', df.iloc[1])
print('~~~~~~~~~~~~~~~~~~~')
print('row x col =', df.iloc[1]['me'])

whole row =  opponent    paper
me           rock
Name: 1, dtype: object
~~~~~~~~~~~~~~~~~~~
row x col = rock

In [9]:
def calc_outcome(row):
    '''
    GOAL = Calc col #3 (outcome result) based on col #1 (opponent) and col #2 (me)
    INPUT = DF row with rock/paper/scissors in columns
    OUTPUT = win/lose result 
    '''
    
    # Run rock/paper/scissors outcome logic on current row 
    if (row['opponent'] == row['me']):
        return 'draw'
    elif (row['opponent'] == 'rock') & (row['me'] == 'scissors'):
        return 'lose'
    elif (row['opponent'] == 'rock') & (row['me'] == 'paper'):
        return 'win'
    elif (row['opponent'] == 'paper') & (row['me'] == 'rock'):
        return 'lose'
    elif (row['opponent'] == 'paper') & (row['me'] == 'scissors'):
        return 'win'
    elif (row['opponent'] == 'scissors') & (row['me'] == 'paper'):
        return 'lose'
    elif (row['opponent'] == 'scissors') & (row['me'] == 'rock'):
        return 'win'
    else:
        return 'error'

In [10]:
# Apply rock/paper/scissors outcome logic to each row of DF 
# Save to new outcome column
df['outcome'] = df.apply(calc_outcome, axis = 1)
df

   opponent        me outcome
0      rock     paper     win
1     paper      rock    lose
2  scissors  scissors    draw

KEY

Score for outcome
- 0 = lose
- 3 = draw
- 6 = win

In [11]:
def calc_outcome_score(row):
    '''
    GOAL = Calc col #4 (outcome score) based on col #3 results
    INPUT = Col #3 (outcome result)
    OUTPUT = Integer
    '''
    
    # Check col #3 (outcome result) to assign col #4 (outcome score) 
    if row['outcome'] == 'lose':
        return 0
    elif row['outcome'] == 'draw':
        return 3
    elif row['outcome'] == 'win':
        return 6
    else:
        return 'error'

In [12]:
# Apply outcome_score calculation to each row of DF 
# Save to new outcome_score column
df['outcome_score'] = df.apply(calc_outcome_score, axis = 1)
df

   opponent        me outcome  outcome_score
0      rock     paper     win              6
1     paper      rock    lose              0
2  scissors  scissors    draw              3

KEY

Score for my selection
- Rock = 1
- Paper = 2
- Scissors = 3

In [13]:
def calc_selection_score(row):
    '''
    GOAL = Calc col #5 (selection score) based on col #2 selection
    INPUT = Col #2 (selection)
    OUTPUT = Integer
    '''
    
    # Check col #2 selection (me) to assign col #5 (selection score) 
    if row['me'] == 'rock':
        return 1
    elif row['me'] == 'paper':
        return 2
    elif row['me'] == 'scissors':
        return 3
    else:
        return 'error'

In [14]:
# Apply selection_score calculation to each row of DF 
# Save to new selection_score column
df['selection_score'] = df.apply(calc_selection_score, axis = 1)
df

   opponent        me outcome  outcome_score  selection_score
0      rock     paper     win              6                2
1     paper      rock    lose              0                1
2  scissors  scissors    draw              3                3

KEY

Final score = outcome + selection

In [15]:
def calc_final_score(row):
    '''
    GOAL = Calc col #6 (final_score) based on col #4 (outcome_score) + col #5 (selection_score)
    INPUT = Col #4 (outcome_score), col #5 (selection_score)
    OUTPUT = Integer
    '''
    
    # Add up col #4 (outcome_score) and col #5 (selection_score) 
    return row['outcome_score'] + row['selection_score']

In [16]:
# Apply selection_score calculation to each row of DF 
# Save to new selection_score column
df['final_score'] = df.apply(calc_final_score, axis = 1)
df

   opponent        me outcome  outcome_score  selection_score  final_score
0      rock     paper     win              6                2            8
1     paper      rock    lose              0                1            1
2  scissors  scissors    draw              3                3            6

In [17]:
# ANSWER: Sum the final_score column
df['final_score'].sum()

15

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
### Part 2

second column says how the round needs to end: 
- X = you need to lose, 
- Y = you need to end the round in a draw, and 
- Z = you need to win

total score is still calculated in the same way, 
- but now you need to figure out what shape to choose so the round ends as indicated.

### Plan

Q) Can I use the ending chart I currently have and change the outcome based on the Part 2 info? Then go back and replace the other col's it changes?

A) Nope, need to change it from the start by redefining the X, Y, Z translation functions

In [18]:
# Import sample
# Replace later with actual input
file_path = "sample.txt"
#file_path = "input.txt"

# Operation mode
read = 'r'

# Open file in read only mode
with open(file_path, read) as file:
    file_contents = file.read()

# CHECK - file contents
print(file_contents)

A Y
B X
C Z

In [19]:
# Read file thru Pandas to create a DataFrame instead of the usual Python way
# NOTE: it can't auto parse header or the space separator here, must define
df2 = pd.read_csv(file_path,
                 header = None,
                 sep = ' ')
df2

   0  1
0  A  Y
1  B  X
2  C  Z

In [20]:
# Rename columns to make reading this easier
df2 = df2.rename(columns = {0: 'opponent', 
                            1: 'outcome'} )
df2

  opponent outcome
0        A       Y
1        B       X
2        C       Z

KEY:

1st col (opponent):
- A = Rock
- B = Paper
- C = Scissors

In [21]:
# Define conditionals to find and replace in 1st col of Pandas DF
df2.loc[df2['opponent'] == 'A', 'opponent'] = 'rock'
df2.loc[df2['opponent'] == 'B', 'opponent'] = 'paper'
df2.loc[df2['opponent'] == 'C', 'opponent'] = 'scissors'
df2

   opponent outcome
0      rock       Y
1     paper       X
2  scissors       Z

KEY:

2nd col (outcome):
- X = lose
- Y = draw
- Z = win

In [22]:
# Define conditionals to find and replace in 2nd col of Pandas DF
df2.loc[df2['outcome'] == 'X', 'outcome'] = 'lose'
df2.loc[df2['outcome'] == 'Y', 'outcome'] = 'draw'
df2.loc[df2['outcome'] == 'Z', 'outcome'] = 'win'
df2

   opponent outcome
0      rock    draw
1     paper    lose
2  scissors     win

Based on the outcome col, now create the me column where I have to choose rock/paper/scissors based on the desired outcome

In [23]:
# def calc_me(row):
#     '''
#     GOAL = Calc col #3 (me) based on col #1 (opponent) and col #2 (me)
#     INPUT = DF row with rock/paper/scissors and outcome
#     OUTPUT = the move that the 'me' col needs to play for desired outcome
#     '''
    
#     # Which rock/paper/scissors should I pick for desired outcome on current row 
#     print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~``')
#     print('row =', row)
    
#     if (row['outcome'] == 'draw'):
#         print('row["opponent"] =', row['opponent'])
#     elif (row['outcome'] == 'lose'):
#         if (row['opponent'] == 'rock'):
#             print('scissors')
#         elif (row['opponent'] == 'scissors'):
#             print('paper')
#         elif (row['opponent'] == 'paper'):
#             print('rock')
#     elif (row['outcome'] == 'win'):
#         if (row['opponent'] == 'rock'):
#             print('paper')
#         elif (row['opponent'] == 'scissors'):
#             print('rock')
#         elif (row['opponent'] == 'paper'):
#             print('scissors')
#     else:
#         print('ERROR')

In [24]:
def calc_me(row):
    '''
    GOAL = Calc col #3 (me) based on col #1 (opponent) and col #2 (me)
    INPUT = DF row with rock/paper/scissors and outcome
    OUTPUT = the move that the 'me' col needs to play for desired outcome
    '''
    print('~~~~~~~~~~~~~~')
    print('row =', row)
    
    # Which rock/paper/scissors should I pick for desired outcome on current row     
    if (row['outcome'] == 'draw'):
        return row['opponent']
    elif (row['outcome']  == 'lose') & (row['opponent'] == 'rock'):
        return 'scissors'
    elif (row['outcome']  == 'lose') & (row['opponent'] == 'paper'):
        return 'rock'
    elif (row['outcome']  == 'lose') & (row['opponent'] == 'scissors'):
        return 'rock'
    elif (row['outcome']  == 'win') & (row['opponent'] == 'rock'):
        return 'paper'
    elif (row['outcome']  == 'win') & (row['opponent'] == 'paper'):
        return 'scissors'
    elif (row['outcome']  == 'win') & (row['opponent'] == 'scissors'):
        return 'rock'
    else:
        return 'error'

In [25]:
# Apply rock/paper/scissors outcome logic to each row of DF 
# Save to new outcome column
df2['me'] = df2.apply(calc_me, axis = 1)
df2

~~~~~~~~~~~~~~
row = opponent    rock
outcome     draw
Name: 0, dtype: object
~~~~~~~~~~~~~~
row = opponent    paper
outcome      lose
Name: 1, dtype: object
~~~~~~~~~~~~~~
row = opponent    scissors
outcome          win
Name: 2, dtype: object

   opponent outcome    me
0      rock    draw  rock
1     paper    lose  rock
2  scissors     win  rock

KEY

Score for outcome
- 0 = lost
- 3 = draw
- 6 = win